<?xml version="1.0"?>
<launch>

  <arg name="robot"     default="iiwa"/>
  <arg name="use_case"  default="cartesian"/> <!--cartesian,spherical-->

  <group ns="iiwa" >
    <param name="planning_group" type="string" value="manipulator" />
    <param name="base_link"      type="string" value="iiwa_link_0" />
    <param name="tip_link"       type="string" value="iiwa_link_ee" />

    <rosparam command="load" file="$(find position_optimizer_examples)/config/GA_params.yaml"/>
    <rosparam command="load" file="$(find position_optimizer_examples)/config/SA_params.yaml"/>

    <rosparam command="load" file="$(find position_optimizer_examples)/config/scene_objects.yaml"/>
    <rosparam command="load" file="$(find position_optimizer_examples)/config/$(arg robot)/$(arg use_case)_chromosome_params.yaml"/>
    <rosparam command="load" file="$(find position_optimizer_examples)/config/$(arg robot)/joint_config.yaml"/>

    <include file="$(find position_optimizer)/launch/pose_optimizer.launch"/>

  </group>

  <include file="$(find iiwa_moveit)/launch/demo.launch"/>


</launch>

