<?xml version="1.0"?>
<launch>

  <!-- parameters specific of the robot -->
  <arg name="robot"     default="ur"/>
  <arg name="use_case"  default="cartesian"/> <!--cartesian,spherical-->

  <param name="planning_group" type="string" value="manipulator" />
  <param name="base_link"      type="string" value="base_link" />
  <param name="tip_link"       type="string" value="ee_link" />

  <!--  loading .yaml files-->
  <rosparam command="load" file="$(find position_optimizer_examples)/config/GA_params.yaml"/>
  <rosparam command="load" file="$(find position_optimizer_examples)/config/SA_params.yaml"/>

  <rosparam command="load" file="$(find position_optimizer_examples)/config/scene_objects.yaml"/>
  <rosparam command="load" file="$(find position_optimizer_examples)/config/$(arg robot)/$(arg use_case)_chromosome_params.yaml"/>
  <rosparam command="load" file="$(find position_optimizer_examples)/config/$(arg robot)/joint_config.yaml"/>

  <!--  include the launcher file of the CGASA-->
  <include file="$(find position_optimizer)/launch/pose_optimizer.launch"/>

  <!--  include the moveit package of the specific robot-->
  <include file="$(find ur10_moveit_config)/launch/demo.launch">
    <arg name="limited" value="true" />
  </include>


</launch>
